* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}

a {
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.absolute {
    position: absolute;
    top: 100px;
}

